In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime

In [2]:
from matplotlib import font_manager, rc 

font_name=font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name() 
rc('font', family=font_name)

In [3]:
df=pd.read_excel('제공데이터.xlsx', encoding='utf-8')
df.head(5)

,Unnamed: 0,Unnamed: 0.1,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,주문량,월,시간대,시청률,날짜,강수량(mm),공휴일
0,0,0,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,2099000,2,52.606516,1,6,0.0,1,0.0,1
1,1,1,2019-01-01 06:00:00,20,100346,201079,테이트 여성 셀린니트3종,1,39900,4371000,2,109.548872,1,6,0.0,1,0.0,1
2,2,2,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,3262000,2,81.754386,1,6,0.0,1,0.0,1
3,3,3,2019-01-01 06:20:00,20,100346,201079,테이트 여성 셀린니트3종,1,39900,6955000,2,174.310777,1,6,0.0,1,0.0,1
4,4,4,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,6672000,2,167.218045,1,6,0.0,1,0.0,1

In [4]:
del df['Unnamed: 0']
del df['Unnamed: 0.1']

In [5]:
df=df.drop(df[df['취급액']==0].index)

In [6]:
df['분']=df['방송일시'].dt.minute

In [7]:
df.describe()

,노출(분),마더코드,상품코드,상품군,판매단가,취급액,요일,주문량,월,시간대,시청률,날짜,강수량(mm),공휴일,분
count,35379.000000,35379.000000,35379.000000,35379.000000,3.537900e+04,3.537900e+04,35379.000000,35379.000000,35379.000000,35379.000000,35379.000000,35379.000000,35379.000000,35379.000000,35379.000000
mean,20.333277,100394.664886,201228.059046,4.922242,3.878590e+05,2.310241e+07,3.994149,314.797301,6.492298,14.110574,0.004567,15.466322,2.404446,0.050595,20.413522
std,3.095404,251.968182,739.288622,2.903809,6.264088e+05,2.005790e+07,2.002654,427.826506,3.395820,6.568274,0.008163,8.726040,8.088669,0.219172,16.388304
min,2.000000,100000.000000,200000.000000,1.000000,1.280000e+04,1.030000e+05,1.000000,1.302349,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,20.000000,100155.000000,200569.000000,3.000000,5.900000e+04,7.998500e+06,2.000000,26.283654,4.000000,9.000000,0.000000,8.000000,0.000000,0.000000,0.000000
50%,20.000000,100353.000000,201175.000000,4.000000,9.900000e+04,1.732600e+07,4.000000,130.000000,6.000000,15.000000,0.001350,15.000000,0.000000,0.000000,20.000000
75%,20.000000,100604.000000,201879.000000,7.000000,3.990000e+05,3.276300e+07,6.000000,451.719941,9.000000,20.000000,0.005200,23.000000,0.200000,0.000000,40.000000
max,40.000000,100849.000000,202513.000000,11.000000,7.930000e+06,3.220090e+08,7.000000,8070.401003,12.000000,23.000000,0.125600,31.000000,63.200000,1.000000,50.000000

In [8]:
df.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,주문량,월,시간대,시청률,날짜,강수량(mm),공휴일,분
0,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,2099000,2,52.606516,1,6,0.0,1,0.0,1,0
1,2019-01-01 06:00:00,20,100346,201079,테이트 여성 셀린니트3종,1,39900,4371000,2,109.548872,1,6,0.0,1,0.0,1,0
2,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,3262000,2,81.754386,1,6,0.0,1,0.0,1,20
3,2019-01-01 06:20:00,20,100346,201079,테이트 여성 셀린니트3종,1,39900,6955000,2,174.310777,1,6,0.0,1,0.0,1,20
4,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,1,39900,6672000,2,167.218045,1,6,0.0,1,0.0,1,40

In [9]:
df_cor=df.corr()
df_cor.head(5)

,노출(분),마더코드,상품코드,상품군,판매단가,취급액,요일,주문량,월,시간대,시청률,날짜,강수량(mm),공휴일,분
노출(분),1.000000,0.089634,0.081250,0.102310,0.135079,0.047076,-0.006831,-0.054823,-0.043476,-0.001537,0.020853,-0.009716,0.025915,-0.001857,-0.068941
마더코드,0.089634,1.000000,0.977926,-0.161438,-0.205652,-0.054361,-0.034271,-0.002435,-0.085851,-0.099454,-0.024299,0.017083,-0.012912,-0.038741,-0.016732
상품코드,0.081250,0.977926,1.000000,-0.178119,-0.217107,-0.041807,-0.034529,0.007827,-0.102004,-0.101219,-0.026998,0.012451,-0.017728,-0.036535,-0.018006
상품군,0.102310,-0.161438,-0.178119,1.000000,0.301653,-0.188544,-0.011068,-0.223612,0.107917,0.129404,0.017492,-0.033127,0.033942,0.015953,0.016962
판매단가,0.135079,-0.205652,-0.217107,0.301653,1.000000,-0.161539,0.064539,-0.369401,-0.044226,0.332901,-0.013635,-0.063044,0.011930,0.045115,0.038726

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35379 entries, 0 to 37371
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   방송일시     35379 non-null  datetime64[ns]
 1   노출(분)    35379 non-null  int64
 2   마더코드     35379 non-null  int64
 3   상품코드     35379 non-null  int64
 4   상품명      35379 non-null  object
 5   상품군      35379 non-null  int64
 6   판매단가     35379 non-null  int64
 7   취급액      35379 non-null  int64
 8   요일       35379 non-null  int64
 9   주문량      35379 non-null  float64
 10  월        35379 non-null  int64
 11  시간대      35379 non-null  int64
 12  시청률      35379 non-null  float64
 13  날짜       35379 non-null  int64
 14  강수량(mm)  35379 non-null  float64
 15  공휴일      35379 non-null  int64
 16  분        35379 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(12), object(1)
memory usage: 4.9+ MB

In [11]:
x=df.iloc[:, [2,3, 5, 6, 8, 10, 11, 13, 16]]
y=df.iloc[:, [7]]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

XGBoost

In [13]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

gb=GradientBoostingRegressor(learning_rate=0.1,max_depth=5, max_features=4, min_samples_leaf=3, min_samples_split=4, n_estimators=1000)
gb.fit(x_train, y_train)

gb_pred = gb.predict(x_test)

np.sqrt(mean_squared_error(y_test, gb_pred))

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

9998222.572476631

In [14]:
gb.score(x_test, y_test)

0.7593849723621238

In [15]:
gb_pred.astype(int)

array([17928935, 28176602, 15011169, ..., 32718571,  7169366, 39813411])

In [16]:
y_test

            취급액
35044  26371000
36992  18779000
2421   21378000
12934   6489000
6747    7599000
...         ...
1310   12844000
24982  13819000
27495  18454000
22713   3837000
22829  35918000

[10614 rows x 1 columns]

In [17]:
'''
data={'Regressor':['RandomForest', 'DecisionTree', 'GradientBoostingClassifier'], 
      'score':[fr.score(x_test, y_test), tr.score(x_test, y_test), gb.score(x_test, y_test)]}
lol=pd.DataFrame(data)
plt.xlabel('score')
plt.title('Regressor score')

sns.set_color_codes("muted")
sns.barplot(x='Regressor', y='score', data=lol)
'''

'\ndata={\'Regressor\':[\'RandomForest\', \'DecisionTree\', \'GradientBoostingClassifier\'], \n      \'score\':[fr.score(x_test, y_test), tr.score(x_test, y_test), gb.score(x_test, y_test)]}\nlol=pd.DataFrame(data)\nplt.xlabel(\'score\')\nplt.title(\'Regressor score\')\n\nsns.set_color_codes("muted")\nsns.barplot(x=\'Regressor\', y=\'score\', data=lol)\n'

In [18]:
df_pred=pd.read_excel('평가데이터_완성.xlsx', encoding='utf-8')
df_pred.head(5)
del df_pred['Unnamed: 0']

In [19]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716 entries, 0 to 2715
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    2716 non-null   datetime64[ns]
 1   노출(분)   2716 non-null   int64
 2   마더코드    2716 non-null   int64
 3   상품코드    2716 non-null   int64
 4   상품명     2716 non-null   object
 5   상품군     2716 non-null   int64
 6   판매단가    2716 non-null   int64
 7   요일      2716 non-null   int64
 8   월       2716 non-null   int64
 9   시간대     2716 non-null   int64
 10  날짜      2716 non-null   int64
 11  분       2716 non-null   int64
dtypes: datetime64[ns](1), int64(10), object(1)
memory usage: 254.8+ KB

In [20]:
x_pred = df_pred.iloc[:, [2, 3, 5, 6, 7, 8, 9, 10, 11]]

In [21]:
gb_pred = gb.predict(x_pred)

In [22]:
gb_pred=gb_pred.astype(int)

In [23]:
df_pred['예측값']=gb_pred
df_pred

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,요일,월,시간대,날짜,분,예측값
0,2020-06-01 06:20:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,20,11228355
1,2020-06-01 06:40:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,40,18580990
2,2020-06-01 07:00:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,7,1,0,11591634
3,2020-06-01 07:20:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,20,35471159
4,2020-06-01 07:40:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,40,48657022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,2020-07-01 00:10:00,10,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,2,99000,7,7,0,1,10,37416201
2712,2020-07-01 00:10:00,10,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,2,119000,7,7,0,1,10,38195375
2713,2020-07-01 00:10:00,10,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,2,119000,7,7,0,1,10,37583008
2714,2020-07-01 01:20:00,20,100261,200875,아놀드파마 티셔츠레깅스세트,1,69900,7,7,1,1,20,8237603
2715,2020-07-01 01:40:00,15,100261,200875,아놀드파마 티셔츠레깅스세트,1,69900,7,7,1,1,40,12881909

In [24]:
df_pred.to_excel('완성본.xlsx')